<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AM SPORTS</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <header>CAMISETAS</header>

  <nav class="navbar">
    <div class="container">
    <div class="logo">
      <ul class="nav-links">
         <li><a href="index.html">Inicio</a></li>
          <li><a href="nosotros.html">Nosotros</a></li>
          <li><a href="catalogo.html">Catalogo</a></li>
      </ul>
  </div>
</nav>
    <section>
        <div class="horizontal">
        
            <div class="card">
            <h1>Camiseta jordan</h1>
            <img src="../assets/img/jordan.jpg" alt="Imagen de la tarjeta">
            <div class="card-content">
              <p>Contenido de la tarjeta.</p>
              <a href="../views/carrito.html">Comprar ahora</a>
            </div>
          </div>
          <div class="card">
            <h1>Camisetas nike</h1>
              <img src="../assets/img/nike.jpg" alt="Imagen de la tarjeta">
          <div class="card-content">
                <p>Contenido de la tarjeta.</p>
              <a href="../views/carrito.html">Comprar ahora</a>
            </div>
          </div>
          <div class="card">
            <h1>Camisetas adidas</h1>
            <img src="../assets/img/adidas.jpg" alt="Imagen de la tarjeta">
            <div class="card-content">
              <p>Contenido de la tarjeta.</p>
              <a href="../views/carrito.html">Comprar ahora</a>
            </div>
          </div>
          <div class="card">
            <h1>Camisetas gucci</h1>
            <img src="../assets/img/gucci.jpg" alt="Imagen de la tarjeta">
            <div class="card-content">
              <p>Contenido de la tarjeta.</p>
              <a href="../views/carrito.html">Comprar ahora</a>
            </div>
          </div>
        </div>
    </section>
    
<footer>
    <h5>derechos de autor&copy 2024</h5>
</footer>
</body>
</html>