<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de Compra</title>
  <link rel="stylesheet" href="../css/carrito.css">
</head>
<body>
    <section>
  <div class="product-list">
    <div class="product">
      <h3>Producto 1</h3>
      <img src="../assets/img/jordan.jpg" alt="">
      <p>Precio: $20.000</p>
      <button onclick="agregarAlCarrito(20000)">Agregar al carrito</button>
    </div>
    <div class="product">
      <h3>Producto 2</h3>
      <img src="../assets/img/jordan.jpg" alt="">
      <p>Precio: $30.000</p>
      <button onclick="agregarAlCarrito(30000)">Agregar al carrito</button>
    </div>
    <div class="product">
      <h3>Producto 3</h3>
      <img src="../assets/img/jordan.jpg" alt="">
      <p>Precio: $50.000</p>
      <button onclick="agregarAlCarrito(50000)">Agregar al carrito</button>
    </div>
    <div class="product">
        <h3>Producto 4</h3>
        <img src="../assets/img/jordan.jpg" alt="">
        <p>Precio: $70.000</p>
        <button onclick="agregarAlCarrito(70000)">Agregar al carrito</button>
      </div>
      <div class="product">
        <h3>Producto 5</h3>
        <img src="../assets/img/jordan.jpg" alt="">
        <p>Precio: $100.000</p>
        <button onclick="agregarAlCarrito(100000)">Agregar al carrito</button>
      </div>
      <div class="product">
        <h3>Producto 6</h3>
        <img src="../assets/img/jordan.jpg" alt="">
        <p>Precio: $60.000</p>
        <button onclick="agregarAlCarrito(60000)">Agregar al carrito</button>
      </div>
      <div class="product">
        <h3>Producto 7</h3>
        <img src="../assets/img/jordan.jpg" alt="">
        <p>Precio: $40.000</p>
        <button onclick="agregarAlCarrito(40000)">Agregar al carrito</button>
      </div>
      <div class="product">
        <h3>Producto 8</h3>
        <img src="../assets/img/jordan.jpg" alt="">
        <p>Precio: $50.000</p>
        <button onclick="agregarAlCarrito(50000)">Agregar al carrito</button>
      </div>
      <div class="product">
        <h3>Producto 9</h3>
        <img src="../assets/img/jordan.jpg" alt="">
        <p>Precio: $75.000</p>
        <button onclick="agregarAlCarrito(75000)">Agregar al carrito</button>
      </div>
      <div class="product">
        <h3>Producto 10</h3>
        <img src="../assets/img/jordan.jpg" alt="">
        <p>Precio: $70.000</p>
        <button onclick="agregarAlCarrito(70000)">Agregar al carrito</button>
      </div>
    </div>

<div class="cart">
    <h2>Carrito de Compra</h2>
    <ul id="carrito-list"></ul>
    <p>Total: $<span id="total">0</span></p>
    <button><a href="../views/index.html">Comprar</a></button>
</div>
</section>

    <script src="../js/carrito.js"></script>
</body>
</html>
