<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AM SPORTS</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>CATALOGO</header>  
    <nav class="navbar">
        <div class="container">
        <div class="logo">
          <ul class="nav-links">
             <li><a href="index.html">Inicio</a></li>
              <li><a href="nosotros.html">Nosotros</a></li>
              <li><a href="catalogo.html">Catalogo</a></li>
          </ul>
      </div>
    </nav>
        <section>
            <div class="horizontal">
            
                <div class="card">
                <center><h1>Camisetas</h1></center>
                <img src="../assets/img/camisetas.jpg" alt="Imagen de la tarjeta">
                <div class="card-content">
                  <p>Contenido de la tarjeta.</p>
                  <a href="../views/camisetas.html">Ver ahora</a>
                </div>
              </div>
              <div class="card">
                <center><h1>busos</h1></center>
                <img src="../assets/img/busos.jpg" alt="Imagen de la tarjeta">
                <div class="card-content">
                  <p>Contenido de la tarjeta.</p>
                  <a href="../views/busos.html">Ver ahora</a>
                </div>
              </div>
              <div class="card">
                <center><h1>jeans</h1></center>
                <img src="../assets/img/jeans.jpg" alt="Imagen de la tarjeta">
                <div class="card-content">
                  <p>Contenido de la tarjeta.</p>
                  <a href="../views/jeans.html">Ver ahora</a>
                </div>
              </div>
              <div class="card">
                <center><h1>pijamas</h1></center>
                <img src="../assets/img/pijamas.jpg" alt="Imagen de la tarjeta">
                <div class="card-content">
                  <p>Contenido de la tarjeta.</p>
                  <a href="../views/pijamas.html">Ver ahora</a>
                </div>
              </div>
            </div>
        </section>
        
    <footer>
        <h5>derechos de autor&copy 2024</h5>
    </footer>
</body>
</html>