<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AM SPORTS</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="header1">
    <header>AM SPORTS</header>
  </div>
  <nav class="navbar">
    <div class="container">
    <div class="logo">
      <ul class="nav-links">
         <li><a href="index.html">Inicio</a></li>
          <li><a href="nosotros.html">Nosotros</a></li>
          <li><a href="catalogo.html">Catalogo</a></li>
      </ul>
  </div>
</nav>
    <section>
      <div class="header2">
      <header>Ropa mas vendida</header>
    </div>
    <div class="horizontal">
            
      <div class="card">
      <center><h1>Camiseta jordan</h1></center>
      <img src="../assets/img/camiseta jordan.jpg" alt="Imagen de la tarjeta">
      <div class="card-content">
        <p>Contenido de la tarjeta.</p>
        <a href="../views/camisetas.html">Ver en el catalogo</a>
      </div>
    </div>
    <div class="card">
      <center><h1>pijama manga larga</h1></center>
      <img src="../assets/img/pijama manga larga.jpg" alt="Imagen de la tarjeta">
      <div class="card-content">
        <p>Contenido de la tarjeta.</p>
        <a href="../views/pijamas.html">Ver en el catalogo</a>
      </div>
    </div>
    <div class="card">
      <center><h1>Camiseta adidas</h1></center>
      <img src="../assets/img/adidas.jpg" alt="Imagen de la tarjeta">
      <div class="card-content">
        <p>Contenido de la tarjeta.</p>
        <a href="../views/camisetas.html">Ver en el catalogo</a>
      </div>
    </div>
    <div class="card">
      <center><h1>Pijama manga corta </h1></center>
      <img src="../assets/img/pijama manga corta.jpg" alt="Imagen de la tarjeta">
      <div class="card-content">
        <p>Contenido de la tarjeta.</p>
        <a href="../views/pijamas.html">Ver en el catalogo</a>
      </div>
    </div>
  </div>
    </section>
<footer>
    <h5>derechos de autor&copy 2024</h5>
</footer>
</body>
</html>