<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AM SPORTS</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>NOSOTROS</header>
    <nav class="navbar">
        <div class="container">
        <div class="logo">
          <ul class="nav-links">
             <li><a href="index.html">Inicio</a></li>
              <li><a href="nosotros.html">Nosotros</a></li>
              <li><a href="catalogo.html">Catalogo</a></li>
          </ul>
      </div>
      </nav>
    <section>
        <div class="decoracion-letra">
        En nuestra tienda de ropa, creemos en más que simplemente vender prendas de vestir. Nos esforzamos por crear una comunidad donde el estilo y la confianza se fusionan. Cada prenda que ofrecemos no solo es un artículo de moda, sino una expresión de individualidad y autenticidad. Con nuestra amplia selección de diseños de alta calidad, estamos aquí para ayudarte a encontrar esa pieza especial que te haga sentir seguro y hermoso. Únete a nuestra familia de moda y descubre cómo juntos podemos crear estilos únicos y marcar tendencias. ¡Viste con confianza, vive con estilo!         
        </div>
            <div class="horizontal">
                <div class="card">
                <h1>Desarrollador</h1>
                <img src="../assets/img/yo.jpg" alt="Imagen de la tarjeta">
                <div class="card-content">
                  <p>Juan Manuel Gomez Rios</p>
                </div>
              </div>
              <div class="card">
                <h1>Jefe</h1>
                  <img src="../assets/img/gato.jpg" alt="Imagen de la tarjeta">
              <div class="card-content">
                    <p>Alejandro Esteban Gomez Munera</p>
                </div>
              </div>
              <div class="card">
                <h1>Gerente</h1>
                <img src="../assets/img/ma.jpg" alt="Imagen de la tarjeta">
                <div class="card-content">
                  <p>Sandra Milena Rios Yepes</p>
                </div>
              </div>
              <div class="card">
                <h1>Diseñoradora grafica</h1>
                <img src="../assets/img/isa.jpg" alt="Imagen de la tarjeta">
                <div class="card-content">
                  <p>Isabela Gomez Rios</p>
                </div>
              </div>
            </div>
    </section>
    <footer>
        <h5>derechos de autor&copy 2024</h5>
    </footer>
</body>
</html>